<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterlooWorms</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" href="/frontend/favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3X63ZHX75"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y3X63ZHX75');
    </script>
</head>

<template id="jobPostingTemplate">
    <div class="bg-zinc-800 w-full drop-shadow-md rounded-md p-6 flex flex-col sm:flex-row sm:space-x-12">
        <div class="flex-none w-full sm:w-1/3 overflow-x-wrap">
            <div class="flex flex-row">
                <div class="text-2xl text-zinc-100 w-full sm:w-5/6">{{job.title}}
                </div>
                <svg class="mt-1 ml-2 h-6 w-6 text-blue-500 flex-none" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" v-if="shortlist.includes(job.id)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <svg class="mt-1 ml-2 h-6 w-6 text-red-500 flex-none" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" v-if="blacklist.includes(job.id)">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>

            <div class="text-lg text-zinc-200 flex flex-row">
                <div>{{job.id}}&nbsp-&nbsp</div>
                <a target="_blank"
                    :href="`https://duckduckgo.com/?q=%5C${encodeURIComponent(job.company.split(' ').join('+'))}`">{{job.company}}&nbsp<svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 inline">
                        <path fill-rule="evenodd"
                            d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                            clip-rule="evenodd" />
                    </svg>
                </a>
                <div>&nbsp-&nbsp</div>
                <a target="_blank"
                    :href="`https://google.com/maps/search/${encodeURIComponent(job.company + ', ' + job.location)}`">{{job.location}}&nbsp<svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 inline">
                    <path fill-rule="evenodd"
                        d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                        clip-rule="evenodd" />
                </svg>
                </a>
            </div>

            <!-- Pills -->
            <div class="flex flex-row flex-wrap">
                <div v-if="job.remote.includes('In-person')"
                    class="whitespace-nowrap bg-zinc-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    In person
                </div>
                <div v-else-if="job.remote.includes('Hybrid')" class="whitespace-nowrap bg-orange-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    Hybrid
                </div>
                <div v-else-if="job.remote.includes('Remote')" class="whitespace-nowrap bg-blue-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    Remote
                </div>
                <div v-else class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    Unknown
                </div>
                <div v-if="job.documents.includes('Cover Letter')"
                    class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    Cover letter
                </div>
                <div v-if="job.duration.includes('4-month')"
                    class="whitespace-nowrap bg-zinc-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    4-month
                </div>
                <div v-else-if="job.duration.includes('8-month preferred')"
                    class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    8-month preferred
                </div>
                <div v-else-if="job.duration.includes('8-month')"
                    class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    8-month
                </div>
                <div v-else-if="job.duration.includes('2-term')"
                    class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    Dual-term
                </div>
                <div v-if="job.special.includes('External')"
                    class="whitespace-nowrap bg-red-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    External Application
                </div>
                <div v-if="job.special.includes('SWPP')"
                    class="whitespace-nowrap bg-zinc-600 rounded-xl w-fit h-fit px-2 text-sm m-1">
                    SWPP
                </div>
            </div>
            <!-- Shortlist / blacklist buttons -->
            <div class="flex flex-row justify-start">
                <button class="text-md my-3 mx-1 bg-blue-600 p-2 rounded-md drop-shadow-md hover:bg-blue-500"
                    @click="shortlist.push(job.id);saveLists()" v-if="!shortlist.includes(job.id)">Shortlist</button>
                <button class="text-md my-3 mx-1 bg-blue-600 p-2 rounded-md drop-shadow-md hover:bg-blue-500"
                    @click="shortlist.splice(shortlist.indexOf(job.id),1);saveLists()" v-else>Unshortlist</button>
                <button class="text-md my-3 mx-1 bg-zinc-600 p-2 rounded-md drop-shadow-md hover:bg-zinc-500"
                    @click="blacklist.push(job.id);saveLists()" v-if="!blacklist.includes(job.id)">Blacklist</button>
                <button class="text-md my-3 mx-1 bg-zinc-600 p-2 rounded-md drop-shadow-md hover:bg-zinc-500"
                    @click="blacklist.splice(blacklist.indexOf(job.id),1);saveLists()" v-else>Unblacklist</button>
            </div>

            <!-- Tech used -->
            <div class="mt-5" v-if="job.techs.length > 0">
                <div class="font-bold">Tech</div>
                <hr class="w-24 mt-1">
                <div class="flex flex-row flex-wrap">
                    <div v-for="tech of job.techs" class="mr-2">{{tech}}</div>
                </div>
            </div>
        </div>

        <!-- Job description -->
        <div class="">
            <div>
                <div class="font-bold">Summary</div>
                <div class="block sm:hidden">
                    <div class="whitespace-pre-line max-h-48 truncate" v-bind:id="'summary-readmore-'+job.id">
                        {{job.summary}}
                    </div>
                    <button v-bind:id="'summary-readmorebtn-'+job.id" class="text-center m-1"
                        @click="makeVisible(job.id,'summary')">[ <span
                            class="underline underline-offset-1 decoration-1">Read more</span>
                        ]</button>
                </div>
                <div class="hidden sm:block whitespace-pre-line">
                    {{job.summary}}
                </div>
            </div>
            <br>
            <div>
                <div class="font-bold">Responsibilities</div>
                <div class="block sm:hidden">
                    <div class="whitespace-pre-line max-h-48 truncate" v-bind:id="'responsibilities-readmore-'+job.id">
                        {{job.responsibilities}}
                    </div>
                    <button v-bind:id="'responsibilities-readmorebtn-'+job.id" class="text-center m-1"
                        @click="makeVisible(job.id,'responsibilities')">[
                        <span class="underline underline-offset-1 decoration-1">Read more</span>
                        ]</button>
                </div>
                <div class="hidden sm:block whitespace-pre-line">
                    {{job.responsibilities}}
                </div>
            </div>
            <br>
            <div>
                <div class="font-bold">Required Skills</div>
                <div class="block sm:hidden">
                    <div class="whitespace-pre-line max-h-48 truncate" v-bind:id="'reqskills-readmore-'+job.id">
                        {{job.skills}}
                    </div>
                    <button v-bind:id="'reqskills-readmorebtn-'+job.id" class="text-center m-1"
                        @click="makeVisible(job.id,'reqskills')">[ <span
                            class="underline underline-offset-1 decoration-1">Read more</span>
                        ]</button>
                </div>
                <div class="hidden sm:block whitespace-pre-line">
                    {{job.skills}}
                </div>
            </div>
            <br>
            <div>
                <div v-if="job.compensation" class="font-bold">Compensation & Benefits</div>
                <div v-if="job.compensation" class="block sm:hidden">
                    <div class="whitespace-pre-line max-h-48 truncate" v-bind:id="'compensation-readmore-'+job.id">
                        {{job.compensation}}
                    </div>
                    <button v-bind:id="'compensation-readmorebtn-'+job.id" class="text-center m-1"
                        @click="makeVisible(job.id,'compensation')">[
                        <span class="underline underline-offset-1 decoration-1">Read more</span>
                        ]</button>
                </div>
                <div v-if="job.compensation" class="hidden sm:block whitespace-pre-line">
                    {{job.compensation}}
                </div>
            </div>
        </div>
    </div>
</template>

<template id="settingTemplate">
    <div class="flex flex-row m-2 my-4">
        <input type="checkbox" v-model="value" class="h-4 w-4 m-4 flex-none" @change="$emit('change')"></input>
        <div>
            <span class="text-zinc-100">{{title}}</span>
            <div class="text-zinc-400">{{desc}}</div>
        </div>
    </div>
</template>

<body>
    <div class="bg-zinc-900 w-screen h-screen text-zinc-100 overflow-x-hidden overflow-y-hidden m-0">
        <div id="app" class="h-full flex flex-col">
            <!-- Navbar -->
            <div class="flex flex-col sm:flex-row pt-2 pb-1 px-4 items-center">
                <!-- Title -->
                <div class="text-xl flex-grow">Waterloo<span class="text-blue-500 font-bold">Worms</span></div>

                <!-- Searchbar -->
                <div v-if="status == STATUS.READY"
                    class="flex-none text-zinc-300 p-1 pl-2 rounded-lg w-full sm:w-96 mt-2 sm:mt-0 sm:mr-4 bg-zinc-800 flex flex-row">
                    <input type="text" v-model="search" placeholder="Search..." class="flex-grow outline-0 bg-zinc-800"
                        @change="UpdateURLSearch">
                    <button class="flex-none h-5 w-5 text-zinc-400 hover:text-zinc-500 m-auto mr-1" v-if="search != ''"
                        @click="search = '';UpdateURLSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <hr class="border-zinc-500 mt-1">

            <!-- Login page -->
            <div v-if="status == STATUS.AUTHENTICATING || status == STATUS.AUTH_FAILED" class="flex flex-col">
                <div class="mt-32"></div>
                <div v-if="status == STATUS.AUTH_FAILED" class="mx-auto my-1 text-red-500">Login failed</div>
                <div v-else class="mx-auto my-1 ">Authentication Required</div>
                <input id="passwordinput" type="password" v-model="password"
                    class="text-zinc-900 p-1 pl-2 rounded-lg w-96 mx-auto" v-on:keyup.enter="submitPassword"></input>
            </div>

            <!-- Loading screen -->
            <div v-else-if="status == STATUS.LOADING" class="text-center text-lg mt-32">Loading...</div>

            <!-- Main page -->
            <div id="body" class="grow flex flex-col md:flex-row overflow-y-hidden" v-else>
                <div class="flex flex-row justify-center w-full fixed left-0 top-4 pointer-events-none">
                    <div id="messageToast" class="p-4 bg-blue-600 rounded-md opacity-0"></div>
                </div>
                <!-- Sidebar -->
                <div
                    class="group bg-zinc-800 flex flex-row md:flex-col items-center md:w-14 md:hover:w-32 h-16 md:h-full flex-none transition-all ease-in-out duration-200 overflow-hidden ">
                    <button class="hover:bg-blue-500 p-4 rounded-md w-full"
                        v-bind:class="{'bg-zinc-700':(panel=='home')}" @click="panel = 'home'">
                        <div class="flex flex-row justify-center items-center min-w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                            </svg>
                            <div
                                class="text-transparent group-hover:text-zinc-100 w-full delay-50 duration-100 transition-all ease-in-out px-2 hidden sm:block">
                                Home
                            </div>
                        </div>
                    </button>
                    <button class="hover:bg-blue-500 p-4 rounded-md w-full"
                        v-bind:class="{'bg-zinc-700':(panel=='settings')}" @click="panel = 'settings'">
                        <div class="flex flex-row justify-center items-center min-w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                    clip-rule="evenodd" />
                            </svg>
                            <div
                                class="text-transparent group-hover:text-zinc-100 w-full delay-50 duration-100 transition-all ease-in-out px-2 hidden sm:block">
                                Settings
                            </div>
                        </div>
                    </button>
                    <button class="hover:bg-blue-500 p-4 rounded-md w-full"
                        v-bind:class="{'bg-zinc-700':(panel=='export')}" @click="panel = 'export'">
                        <div class="flex flex-row justify-center items-center min-w-fit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 flex-none" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
                                    clip-rule="evenodd" />
                            </svg>
                            <div
                                class="text-transparent group-hover:text-zinc-100 w-full delay-50 duration-100 transition-all ease-in-out px-2 hidden sm:block">
                                Export
                            </div>
                        </div>
                    </button>
                </div>
                <div id="homepage" class="h-full p-1 sm:p-8 overflow-y-auto w-full">
                    <div class="flex flex-col" v-if="panel=='home'">
                        <div onClick="document.getElementById('homepage').scrollTop = 0"
                            class="bg-blue-600 hover:bg-blue-500 cursor-pointer flex items-center justify-center drop-shadow-lg w-10 h-10 rounded-lg absolute right-6 bottom-2 z-10">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                            </svg>
                        </div>
                        <div
                            class="flex flex-col justify-between w-full sm:flex-row text-center sm:text-left mt-2 sm:mt-0">
                            <div class="m-2 mt-0 flex-none">Found {{filteredPostings.length}} of {{postings.length}}
                                jobs
                                (showing {{page * 25 + 1}}-{{page * 25 + 25}})</div>
                            <div class="flex-grow"></div>
                            <div class="m-2 mt-0 flex-none flex flex-row mx-auto sm:mx-2">
                                <button class="text-zinc-100" @click="page = Math.max(page-1, 0)"
                                    onClick="document.getElementById('homepage').scrollTop = 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 19l-7-7 7-7" />
                                    </svg>
                                </button>
                                <div class="text-zinc-100">{{page+1}} of {{Math.ceil(filteredPostings.length / 25)}}
                                </div>
                                <button class="text-zinc-100"
                                    @click="page = Math.min(page+1, Math.ceil(filteredPostings.length / 25) - 1)"
                                    onClick="document.getElementById('homepage').scrollTop = 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <!-- List of jobs -->
                        <div class="flex flex-col space-y-4">
                            <jobPosting v-for="job of filteredPostings.slice(25*page,25*page+25)" v-bind:id="job.id"
                                :job="job" :shortlist="shortlist" :blacklist="blacklist"></jobPosting>
                        </div>
                        <div class="flex flex-row justify-center w-full">
                            <div class="m-2 mt-0 flex-none flex flex-row mx-auto sm:mx-2">
                                <button class="text-zinc-100" @click="page = Math.max(page-1, 0)"
                                    onClick="document.getElementById('homepage').scrollTop = 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 19l-7-7 7-7" />
                                    </svg>
                                </button>
                                <div class="text-zinc-100">{{page+1}} of {{Math.ceil(filteredPostings.length / 25)}}
                                </div>
                                <button class="text-zinc-100"
                                    @click="page = Math.min(page+1, Math.ceil(filteredPostings.length / 25) - 1)"
                                    onClick="document.getElementById('homepage').scrollTop = 0">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M9 5l7 7-7 7" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Settings modal -->
                    <div class="flex flex-col w-full" v-if="panel == 'settings'">
                        <div class="text-xl text-center py-4">Settings</div>
                        <!-- List of settings -->
                        <div class="flex flex-col">
                            <div class="mx-auto">
                                <div class="flex flex-row ml-5">
                                    <button @click="themeAndDegreesOpen = !themeAndDegreesOpen">
                                        <svg v-if="!themeAndDegreesOpen" xmlns="http://www.w3.org/2000/svg"
                                            class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M9 5l7 7-7 7" />
                                        </svg>
                                        <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M19 9l-7 7-7-7" />
                                        </svg>
                                    </button>
                                    <div>
                                        <div class="text-zinc-100 ml-2">Theme & Degree Filters</div>
                                    </div>
                                </div>
                                <div v-if="themeAndDegreesOpen" class="flex flex-col ml-6">
                                    <div class="flex flex-row m-2 ml-5">
                                        <button @click="themeOpen = !themeOpen">
                                            <svg v-if="!themeOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M9 5l7 7-7 7" />
                                            </svg>
                                            <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 9l-7 7-7-7" />
                                            </svg>
                                        </button>
                                        <div>
                                            <div class="text-zinc-100 ml-2">Themes</div>
                                        </div>
                                    </div>
                                    <div v-if="themeOpen" v-for="theme in themesAndDegrees.themes"
                                        class="ml-8 flex flex-row">
                                        <input type="checkbox" v-model="settings.themes[theme]"
                                            class="h-4 w-4 m-3 flex-none" @change="saveSettings();"></input>
                                        <span class="text-zinc-100 my-2">{{theme.substr(0,60) + (theme.length >
                                            70
                                            ? "..." : "")}}</span>
                                        <!-- <div class="text-zinc-400">{{setting.desc}}</div> -->
                                    </div>
                                    <div class="flex flex-row m-2 ml-5">
                                        <button @click="degreeOpen = !degreeOpen">
                                            <svg v-if="!degreeOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M9 5l7 7-7 7" />
                                            </svg>
                                            <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 9l-7 7-7-7" />
                                            </svg>
                                        </button>
                                        <div>
                                            <div class="text-zinc-100 ml-2">Degrees</div>
                                        </div>
                                    </div>
                                    <div v-if="degreeOpen" v-for="degree in themesAndDegrees.degrees"
                                        class="ml-8 flex flex-row">
                                        <input type="checkbox" v-model="settings.degrees[degree]"
                                            class="h-4 w-4 m-3 flex-none" @change="saveSettings();"></input>
                                        <span class="text-zinc-100 my-2">{{degree.substr(0,60) + (degree.length
                                            >
                                            70 ? "..." : "")}}</span>
                                        <!-- <div class="text-zinc-400">{{setting.desc}}</div> -->
                                    </div>
                                </div>
                                <setting v-model="settings.NoExternal" title="No External"
                                    desc="Exclude job postings that require an external application"
                                    @change="saveSettings();"></setting>
                                <setting v-model="settings.NoCoverLetters" title="No Cover Letters"
                                    desc="Exclude job postings that require a cover letter" @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.FourMonthOnly" title="4 Month Only"
                                    desc="Exclude job postings that are not 4-month positions"
                                    @change="saveSettings();"></setting>
                                <setting v-model="settings.NoSenior" title="No Senior Positions"
                                    desc="Exclude job postings that are only for senior students"
                                    @change="saveSettings();"></setting>
                                <setting v-model="settings.NoSWPP" title="No SWPP Positions"
                                    desc="Exclude job postings that are only for Canadian students"
                                    @change="saveSettings();"></setting>
                                <setting v-model="settings.RemoteOnly" title="Remote Only"
                                    desc="Exclude jobs postings that are not remote." @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.InPersonOnly" title="In-person Only"
                                    desc="Exclude jobs postings that are remote" @change="saveSettings();"></setting>
                                <setting v-model="settings.ShortlistOnly" title="Shortlist Only Mode"
                                    desc="Exclude jobs postings that are not shortlisted" @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.NoShortlist" title="Exclude Shortlist"
                                    desc="Exclude jobs postings that are shortlisted" @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.BlacklistOnly" title="Blacklist Only Mode"
                                    desc="Exclude jobs postings that are not blacklisted" @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.NoBlacklist" title="Exclude Blacklist"
                                    desc="Exclude jobs postings that are blacklisted" @change="saveSettings();">
                                </setting>
                                <setting v-model="settings.ApplyToSearch" title="Apply To Search Results"
                                    desc="Apply filters to search results" @change="saveSettings();"></setting>
                                <!-- <div v-for="setting in settingsDesc" class="flex flex-row m-2 my-4">
                                    <input type="checkbox" v-model="settings[setting.model]"
                                        class="h-4 w-4 m-4 flex-none" @change="saveSettings();"></input>
                                    <div>
                                        <span class="text-zinc-100">{{setting.title}}</span>
                                        <div class="text-zinc-400">{{setting.desc}}</div>
                                    </div>
                                </div> -->
                                <!-- Useless save button -->
                                <button
                                    class="ml-12 text-md m-4 bg-blue-600 p-2 rounded-md drop-shadow-md hover:bg-blue-500"
                                    @click="showMessage('Saved!')">Save Settings</button>
                                <!-- Reset button -->
                                <button
                                    class="ml-12 text-md m-4 bg-zinc-600 p-2 rounded-md drop-shadow-md hover:bg-zinc-500"
                                    @click="resetSettings(); showMessage('Settings reset.')">Reset Defaults</button>
                            </div>
                        </div>
                    </div>
                    <!-- Export modal -->
                    <div v-if="panel == 'export'">
                        <!-- Title -->
                        <div class="text-xl text-center py-4">Export</div>
                        <!-- Export pane -->
                        <div class="mx-auto p-6 bg-zinc-800 rounded-md h-2/3" style="font-family: monospace;">
                            <div class="w-full h-full flex flex-col overflow-y-auto gap-4">
                                <div class="flex flex-row flex-wrap">
                                    <button
                                        @click="copyText(shortlist.join(' ')); showMessage('Copied to clipboard!')"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            class="w-5 h-5">
                                            <path
                                                d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                                            <path
                                                d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                                        </svg></button>&nbsp
                                    SHORTLIST:&nbsp
                                    <span v-for="item in shortlist" class="whitespace-nowrap">
                                        <button class="hover:bg-zinc-500 rounded"
                                            @click="shortlist = shortlist.filter(x => x != item)">{{item}}</button>,&nbsp
                                    </span>
                                </div>
                                <div class="flex flex-row flex-wrap">
                                    <button
                                        @click="copyText(blacklist.join(' ')); showMessage('Copied to clipboard!')"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            class="w-5 h-5">
                                            <path
                                                d="M7 3.5A1.5 1.5 0 018.5 2h3.879a1.5 1.5 0 011.06.44l3.122 3.12A1.5 1.5 0 0117 6.622V12.5a1.5 1.5 0 01-1.5 1.5h-1v-3.379a3 3 0 00-.879-2.121L10.5 5.379A3 3 0 008.379 4.5H7v-1z" />
                                            <path
                                                d="M4.5 6A1.5 1.5 0 003 7.5v9A1.5 1.5 0 004.5 18h7a1.5 1.5 0 001.5-1.5v-5.879a1.5 1.5 0 00-.44-1.06L9.44 6.439A1.5 1.5 0 008.378 6H4.5z" />
                                        </svg></button>&nbsp
                                    BLACKLIST:&nbsp
                                    <span v-for="item in blacklist" class="whitespace-nowrap">
                                        <button class="hover:bg-zinc-500 rounded"
                                            @click="blacklist = blacklist.filter(x => x != item)">{{item}}</button>,&nbsp
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Clear buttons -->
                        <div class="flex flex-row justify-center">
                            <button class="text-md m-4 bg-zinc-600 p-2 rounded-md drop-shadow-md hover:bg-zinc-500"
                                @click="shortlist = []; saveLists()">Clear Shortlist</button>
                            <button class="text-md m-4 bg-zinc-600 p-2 rounded-md drop-shadow-md hover:bg-zinc-500"
                                @click="blacklist = []; saveLists()">Clear Blacklist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./functions/fetch.js"></script>
<script src="vue.js"></script>

</html>
