/* .bg-blue-600 {
    background-color: rgb(130, 113, 226);
}
.text-blue-500 {
    color: rgb(130, 113, 226);
} */

::-webkit-scrollbar { 
    width: 16px; 
} 
::-webkit-scrollbar-track { 
    background: #424242; 
} 
::-webkit-scrollbar-thumb { 
    background: #686868; 
    border-radius: 0.125rem;
} 
::-webkit-scrollbar-thumb:hover { 
    background: #7B7B7B;
}

.fade-in-out {
    opacity: 0;
    animation: fade 3s linear;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  5%,85% { opacity: 1 }
}
