.bg-blue-600 {
    background-color: rgb(130, 113, 226);
}
.text-blue-500 {
    color: rgb(130, 113, 226);
}

.bg-blue-500 :hover {
    background-color: rgb(192, 0, 80) !important;

}

::-webkit-scrollbar { 
    width: 16px; 
} 
::-webkit-scrollbar-track { 
    background: #424242; 
} 
::-webkit-scrollbar-thumb { 
    background: #686868; 
    border-radius: 0.125rem;
} 
::-webkit-scrollbar-thumb:hover { 
    background: #7B7B7B;
}